<!-- banner-promo section -->

{% comment %} Section javascript {% endcomment %}

 {% javascript %}

 //Check for utm_medium parameter to trigger banner promo display
  if (window.location) {
    const urlCurrentSearch = window.location.search
    const urlParams = new URLSearchParams(urlCurrentSearch)
    const utmMedium = urlParams.get('utm_medium')
    let bannerUtmMedium = document.querySelector('[data-utm-medium]')
    let bannerUtmValue = bannerUtmMedium.dataset.utmMedium
    if(utmMedium == bannerUtmValue) {
      bannerUtmMedium.classList.remove('-top-full')
      bannerUtmMedium.classList.add('top-0')
    }
  }

  //Event listener to trigger close animation on banner promo
    let closeButtons = document.querySelectorAll('[data-close]')
    closeButtons.forEach((closeButton) => {
      closeButton.addEventListener(('click'), (e) => {
      e.preventDefault()
      let parentBanner = closeButton.closest('[data-banner-promo]')
      parentBanner.classList.remove('top-0')
      parentBanner.classList.add('-top-full')
      })
    })

 {% endjavascript %}

{% comment %} Section styling {% endcomment %}

{% for block in section.blocks %}
  <div
    data-banner-promo
    data-discount-code="{{ block.settings.logic_discount_code }}"
    data-utm-medium="{{ block.settings.logic_utm_medium }}"
    class="absolute w-full bg-[{{ block.settings.background_color }}] text-[{{ block.settings.text_color }}] transition-all duration-700 ease-in-out -top-full"
  >
    <div class="container mx-auto p-4 flex {{ block.settings.message_text_alignment }}">
      <span>{{ block.settings.message_text }}</span>
      <button data-close class="px-4">{{ block.settings.button_text }}</button>
    </div>
  </div>
{% endfor %}

{% schema %}
  {
    "name": "Banner promo",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Banner promos",
        "info": "Use blocks to populate banner promos."
      }
    ],
    "blocks": [
      {
        "name": "Promo",
        "type": "promo",
        "settings": [
          {
            "type": "header",
            "content": "Banner styling"
          },
          {
            "type": "color",
            "id": "background_color",
            "label": "Background color",
            "default": "#2f73da"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "Text color",
            "default": "#ffffff"
          },
          {
            "type": "header",
            "content": "Banner content"
          },
          {
            "type": "inline_richtext",
            "id": "message_text",
            "label": "Message text",
            "default": "Your 15% off discount code GIVEMEAJOB will auto-apply at checkout."
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button text",
            "default": "close"
          },
          {
            "type": "select",
            "id": "message_text_alignment",
            "label": "Message text alignment",
            "options": [
              {
                "value": "justify-between",
                "label": "Left"
              },
              {
                "value": "justify-center",
                "label": "Center"
              },
              {
                "value": "justify-end",
                "label": "Right"
              }
            ],
            "default": "justify-between"
          },
          {
            "type": "header",
            "content": "Banner logic",
            "info": "Set url parameters to trigger banner promo appearance"
          },
          {
            "type": "text",
            "id": "logic_utm_medium",
            "label": "UTM medium",
            "default": "social"
          },
          {
            "type": "text",
            "id": "logic_discount_code",
            "label": "Discount code",
            "default": "GIVEMEAJOB"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Banner promo",
        "blocks": [
          {
            "type": "promo",
          },
          {
            "type": "promo",
          },
          {
            "type": "promo",
          }
        ]
      }
    ]
  }
{% endschema %}